* {
  padding: 0%;
  margin: 0%;
}

html {
  height: 100vh;
  width: 100vw;
}

/*Mobile */
@media (max-width: 575px) {
  .container {
    grid-template-areas:
      "nav"
      "filtros"
      "main"
      "footer";
    grid-template-rows: 1fr 10fr 1fr;
  }

  footer {
    grid-area: footer;
    background: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
  }

  .fa-brands {
    padding-right: 5%;
  }

  nav {
    display: none;
    padding: 10px;
    grid-area: nav;
    background: rgb(250 193 52);
    color: whitesmoke;
    display: flex;
    justify-content: start;
  }

  .textnav {
    display: none;
  }

  .textmsb {
    padding-left: 10%;
  }

  .textnav {
    text-align: center;
    padding-top: 10%;
  }

  .name {
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .fa-child-reaching {
    font-size: 30px;
  }

  .fa-bars {
    padding-left: 50%;
    font-size: 30px;
  }

  .orden {
    text-align: center;
  }

  .filter-container {
    grid-area: filtros;
    background: black;
    color: whitesmoke;
    padding: 10px;
    justify-content: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: white;
    text-align: center;
    justify-content: space-between;
  }

  .main {
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    grid-area: main;
    padding: 10px;
    justify-content: center;
    color: black;
    padding-left: 5%;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
}

/*desktop */
@media (min-width: 576px) {
  .container {
    display: grid;
    border: 1px black solid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
      "nav filtros"
      "nav main"
      "footer main ";
  }

  /*Filter */

  .orden {
    text-align: center;
  }

  .filter-container {
    grid-area: filtros;
    background: black;
    color: whitesmoke;
    padding: 10px;
  }

  /*Menú*/
  nav {
    padding: 10px;
    grid-area: nav;
    background: rgb(250 193 52);
    color: whitesmoke;
    display: flex;
  }

  .textnav {
    text-align: center;
    padding-top: 10%;
  }

  .textnav a:hover {
    background-color: rgb(172, 46, 46);
  }

  .name {
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .fa-solid {
    padding-right: 5px;
    padding-top: 5%;
  }

  .fa-bars {
    visibility: hidden;
  }

  /*Footer */
  footer {
    grid-area: footer;
    background: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
  }

  .fa-brands {
    padding-right: 5%;
    padding-bottom: 10%;
  }

  /*Main Content */

  .main {
    border: solid 1px black;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    padding: 1rem;
    grid-area: main;
    padding: 10px;

    color: black;
    padding-left: 5%;
  }
  .box {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: white;
    text-align: center;
    justify-content: space-between;
    width: 20%;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
  }

  .pagination a.active {
    background-color: #4caf50;
    color: white;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
}
